<div class='well'>
  <h3>Please double check this email for accuracy. When you are ready, press the 'send email now' button:</h3>
  <div class='email_post preview'>
      <pre>
Subject: <%= @post.title_for_email %>
From: <%= @post.from %>

<%= raw CGI::escapeHTML(GitHub::Markdown.render(render partial: 'items/as_markdown', formats: [:text], handlers: [:erb], locals: { items: @post.items_by_type, include_authors: true })) %>
  </pre>
</div>

  <% if @post.sent_at %>
    This email was sent at <%= @post.sent_at %>
  <% else %>
    <%= link_to 'Send Email', send_email_post_path(@post),
                :confirm => 'Emails can not be unsent.  Are you sure?',
                :method => :put,
                :class => 'btn btn-warning'
    %>
  <% end %>
</div>

<div class='well'>
  <h3> Thanks for emailing and blogging. Click the button below to archive the post.</h3>
  <%= link_to 'Archive The Post', archive_post_path(@post), :method => :put, :class => 'btn btn-warning' %>
</div>
